* {
	box-sizing: border-box;
}

body {
	margin: 0;

}


.number {
	right: 0;
	position: absolute;
}


h1, .display, .lead,.my-4, p{
	color: white;
}

.jumbotron {
	background: linear-gradient(rgba(20,20,20,0.3), 
  rgba(20, 20, 20, 0.4)), url("1.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
	height: 70vh;
	margin-bottom: 0px;
}

.padding {
	padding-top: 10%;
}

#activities {
	margin: 0 auto;
}


#activities {
	margin-top: 75px;
	margin-bottom: 75px;
}

.second-section {
	background: linear-gradient(rgba(20,20,20,0.3), 
  rgba(20, 20, 20, 0.4)), url("paradise.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
}

.black {
	color: black;
}

.description-text {
	padding-left: 5%;
	padding-right: 5%;
}

.card {
	margin: 10px;
	z-index: -100;
}

.card-img-overlay {
	background: linear-gradient(rgba(20,20,20,0.3), 
  rgba(20, 20, 20, 0.4));
}

.third-section {
	background: linear-gradient(rgba(20,20,20,0.3), 
  rgba(20, 20, 20, 0.6)), url("agent.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

form {
	margin: 75px;
}

.activities-header {
	background: linear-gradient(rgba(20,20,20,0.1), 
  rgba(20, 20, 20, 0.1)), url("boats.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
}

.text-body {
	color: gray;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.video-description-text {
	padding-left: 5%;
}

.lodging-header {
	background: linear-gradient(rgba(20,20,20,0.1), 
  rgba(20, 20, 20, 0.1)), url("lodging.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
}

.cuisine-header {
	background: linear-gradient(rgba(20,20,20,0.1), 
  rgba(20, 20, 20, 0.1)), url("cuisine.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-default {
    border-color: white;
    background-color: #FF2032;
 }

 @media only screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
        border-color: white;
        background-color: #e87373;
     } 
 }